<%= stylesheet_link_tag "programs_lgig" %>

<div class="page-content-box">

Living Greek in Greece is an introduction to spoken Attic Greek.  It is intended for graduate students, advanced undergraduates, high-school Greek teachers, and classics professors who would like to experience Ancient Greek as a active language.  In exceptional cases, graduating high-school seniors may be admitted.  Unlike Living Latin in Rome, this course assumes a thorough knowledge of Attic Greek grammar and proficiency reading intermediate Attic texts and Homer.  All participants should have at least two years of undergraduate Greek or the equivalent and should feel comfortable reading basic Attic prose.  No experience speaking Ancient Greek is required. 

The seminar meets twice daily Monday - Friday  for ninety minutes each morning and afternoon. The theme for this year's seminar is "The Home Greek and Homecomings."   Reading's will include varied selections from Attic prose including Xenophon's Oeconomicus and Lysias' On the Murder of Eratosthenes as well as selections from Homer's Odyssey.  Discussion will take place - in keeping with the increasing ability of the participants - in Attic Greek.   In morning sessions, participants will read and discuss selections of Attic prose in Attic.  Afternoon sessions focus on translating Homeric into Attic Greek and the discussion of Homer in Attic.

</div>