<%= stylesheet_link_tag "programs_llip" %>

<div class="page-content-box">

This one-week program is designed to introduce students to the Latin of the Middle Ages. It combines traditional classroom instruction with the active use of Latin as a living language. There will be two sessions per day. During the classroom session students will read through passages from medieval literature, philosophy, poetry and letters. During the other sessions, the course will visit interesting medieval sites around Paris, using spoken Latin to interact with each other and the site. Grammar, vocabulary and syntax are reinforced and practiced in a memorable and authentic setting. The classroom and the course housing are all within the ancient Quartier Latin, named for the Latin spoken in its streets by the students from every nation attending the Sorbonne in the Middle Ages.

Living Latin in Paris is co-sponsored by SALVI. 

</div>