<%= stylesheet_link_tag "programs_llir" %>

<div class="page-content-box">

This intensive, five-week Latin language course has two purposes: providing a continuous period of study of Latin and introducing students to the most important ancient sites of Rome and its surrounding areas.

The course meets five days a week for four hours a day (divided into two sessions) and combines traditional classroom instruction with the active use of Latin as a living language.  Each afternoon, students meet in the classroom to read through a well-known passage from Latin literature connected with an ancient Roman site.  The following morning's session uses the city as a classroom.  Students visit the site referenced in the morning’s readings and work with the instructors in small groups, using Latin actively to interact with each other and the site they are visiting.  Grammar, vocabulary and syntax seen in the morning’s reading are reinforced and practiced in a memorable and authentic setting.

Each Saturday there is a trip to an ancient site outside of the city with associated readings.  Sundays are free for relaxing and exploring Rome.
</div>