<%= stylesheet_link_tag "programs_llirhs" %>
  
<div class="page-content-box">

The Living Latin in Rome high-school program is a two-week version of Living Latin in Rome specially designed for high-school students. It gives the country's best and most motivated Latin students the opportunity to work together with outstanding instructors to learn to speak Latin in the memorable setting of Rome.  Each morning, students meet together in classroom sessions taught by two experienced Latin-speaking instructors, Scott Ettinger and Bryan Whitchurch.  The curriculum includes texts students would rarely read in the typical high-school classroom.  In the afternoon session, Scott and Bryan lead students to the important monuments in the city mentioned in the texts they have read.  Working in small groups of students and teachers, Scott and Bryan facilitate collaborative, spoken-Latin activities that integrate the Latin language and its literature with the monuments of Rome.

Learning to speak Latin, students immerse themselves in antiquity in a way that is unique and fun.  In addition to providing a period of intensive immersion in the Latin language, however, Living Latin in Rome aims to encourage students' interest in and appreciation for culture and the classical humanities.  The Latin curriculum is supplemented by group discussions about the purpose of the liberal arts and the value of a humanistic education.  On the middle weekend of the course, students take a day trip to Sperlonga, where they can swim, relax, and visit the emperor Tiberius' infamous villa.

</div>