<% @title = "Welcome" %> 

<%= javascript_include_tag "home" %>


  <section class="page-content-box" id="page-content-box">

      <div class="overlay_box" id="overlay_box">
      
	<%= link_to 'Governance', '/home/gov' %></br></br>
	<%= link_to 'Our Staff', '/home/staff' %></br></br>
	<%= link_to 'Our Mission', '/home/mission' %></br></br>

      </div>
      
      </br>    
      
    </section>


<div id="scrollpic">
    <div id="pic-container">
    <figure id="pic-frame">
        <figcaption>
        <%# @page.image_pages.each do |i| %>
            <div style="display:none;">
                <%#= raw i.caption %>
            </div>
        <%# end %>
        </figcaption>
        <a class="pic-nav" id="pic-nav-left" href="#">&nbsp;</a>
        <a class="pic-nav" id="pic-nav-right" href="#">&nbsp;</a>
    </figure>
    <div id="pic-scroller">

        <div class="items">
            <%# @page.image_pages.each do |i| %>
                <%#= image_tag(i.image.thumbnail("608x400#c").url) %>
            <%# end %>
        </div>
    </div>
    </div>
</div>

